@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.button, button, a, p a, nav a {
  -moz-transition: color 150ms linear, background-color 150ms linear;
  -o-transition: color 150ms linear, background-color 150ms linear;
  -webkit-transition: color 150ms linear, background-color 150ms linear;
  transition: color 150ms linear, background-color 150ms linear;
}

.container:after, .container-fluid:after, .row:after, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12, .col-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
html {
  font-size: 16px;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 12.8px;
  }
}

.h1, h1 {
  font-size: 4.5em;
}
@media screen and (max-width: 767px) {
  .h1, h1 {
    font-size: 3.6em;
  }
}

.h2, h2, .contact-card__icon {
  font-size: 3.6em;
}
@media screen and (max-width: 767px) {
  .h2, h2, .contact-card__icon {
    font-size: 3.2em;
  }
}

.h3, h3, .nav__hamburger, .project__icon, .social__links {
  font-size: 2.3em;
}
@media screen and (max-width: 767px) {
  .h3, h3, .nav__hamburger, .project__icon, .social__links {
    font-size: 2em;
  }
}

.h4, h4 {
  font-size: 2.1em;
}
@media screen and (max-width: 767px) {
  .h4, h4 {
    font-size: 1.9em;
  }
}

.h5, h5, .nav__logo, .project__audio-warning {
  font-size: 2em;
}
@media screen and (max-width: 767px) {
  .h5, h5, .nav__logo, .project__audio-warning {
    font-size: 1.8em;
  }
}

.h6, h6, .header__sub-title, .project__button, .footer__copyright {
  font-size: 1.4em;
}

p,
blockquote,
li {
  font-size: 1em;
}

.button, button {
  font-size: 1.5em;
}

input,
textarea,
select {
  font-size: 1em;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h3 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h4 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h5 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h6 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

p,
blockquote,
ul,
button {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

input,
textarea,
select {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

hr {
  border: 0;
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 1px;
  overflow: visible;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #EF6250;
}

button {
  border: 0;
  outline: 0;
  color: inherit;
}

p, ul, li {
  margin-bottom: .5em;
}

input, textarea, select {
  outline: 0;
  border: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
}

a, span, img {
  display: inline-block;
}

nav {
  z-index: 300;
}

.underline, u {
  text-decoration: underline;
}

.italic, em {
  font-style: italic;
}

.bold, strong {
  font-weight: 700;
}

.loud {
  color: #EF6250;
}

.text-left {
  text-align: left;
}

.text-center, .h1, h1, .h2, h2, .contact-card__icon, .h3, h3, .nav__hamburger, .project__icon, .social__links, .h4, h4, .h5, h5, .nav__logo, .project__audio-warning, .h6, h6, .header__sub-title, .project__button, .footer__copyright {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.l0 {
  line-height: 1;
}

.lhalf {
  line-height: 1.2;
}

.l2 {
  line-height: 1.7;
}

.l3 {
  line-height: 2;
}

.rounded {
  border-radius: 5px;
}

.circle {
  border-radius: 50%;
}

.button, button {
  cursor: pointer;
  display: inline-block;
  padding: 0.625em 1.25em;
}
.button:hover, button:hover, .button:active, button:active {
  text-decoration: none;
}

.nowrap {
  white-space: nowrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.list--inline-block li {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center, .center-content div, .contact-card {
  float: none !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-abs {
  left: 50%;
  transform: translateX(-50%);
}

.center-content {
  text-align: center;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.z0 {
  z-index: -1000;
}

.z2 {
  z-index: 200;
}

.z3 {
  z-index: 300;
}

.z4 {
  z-index: 400;
}

.z5 {
  z-index: 500;
}

.content-box {
  box-sizing: content-box;
}

.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.no-spacing, .nav-list, footer, .social__links {
  margin-bottom: 0;
}
.no-spacing p, .nav-list p, footer p, .social__links p, .no-spacing ul, .nav-list ul, footer ul, .social__links ul, .no-spacing li, .nav-list li, footer li, .social__links li {
  margin-bottom: 0;
}

p.no-spacing, p.nav-list, p.social__links, ul.no-spacing, ul.nav-list, ul.social__links, li.no-spacing, li.nav-list, li.social__links {
  margin-bottom: 0;
}

.list--no-spacing li, .nav-list li {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

img.padding {
  padding: 15px;
}

@media screen and (max-width: 767px) {
  img.xs-full-width {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .hide-xs {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .hide-sm {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .hide-md {
    display: none;
  }
}

.show-xs, .show-sm, .show-md {
  display: none;
}

@media screen and (max-width: 767px) {
  .show-xs {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .show-sm {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .show-md {
    display: block;
  }
}

body {
  color: #262626;
}

.h1, h1, .h2, h2, .contact-card__icon, .h3, h3, .nav__hamburger, .project__icon, .social__links, .h4, h4, .h5, h5, .nav__logo, .project__audio-warning, .h6, h6, .header__sub-title, .project__button, .footer__copyright {
  font-weight: 900;
}

a:hover, a:active {
  color: #EC412C;
}

p a:hover, p a:active {
  text-decoration: underline;
}

hr.redline {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #EF6250;
  width: 90px;
}

hr.greyline {
  background-color: #F0F0F0;
  width: 80%;
  max-width: 800px;
}

.button, button {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #EF6250;
  color: #fff;
  padding: 1.3em 2em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border-radius: 5px;
}
.button p, button p, .button blockquote, button blockquote, .button li, button li {
  color: #fff;
}
.button a, button a {
  color: #fff;
}
.button:hover, button:hover, .button:active, button:active {
  color: #fff;
  background-color: #F06F5E;
}

section {
  font-size: 1rem;
  padding-top: 5em;
  padding-bottom: 5em;
}

section:nth-child(odd) {
  background-color: #F0F0F0;
}

nav {
  font-size: 1rem;
  background-color: #262626;
  color: #fff;
  position: fixed;
  width: 100%;
}
nav p, nav blockquote, nav li {
  color: #fff;
}
nav a {
  color: #fff;
}

nav a {
  text-transform: uppercase;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
nav a:hover, nav a:active {
  color: #EF6250;
}

.nav__hamburger {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 32px;
}

.nav__logo {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    pointer-events: none;
  }
}

.nav-list {
  display: none;
}

.nav-list__item:first-child {
  padding-top: 0.5rem;
  border-top: 1px solid #000;
}
.nav-list__item:last-child {
  padding-bottom: 0.5rem;
}

.nav-list__item--a {
  font-weight: 700;
  width: 100%;
  padding-left: 0.6em;
  padding-right: 0.6em;
  height: 2.4em;
  line-height: 2.4em;
}
.nav-list__item--a.is-highlighted {
  color: #fff;
  background-color: #EF6250;
}

@media screen and (min-width: 768px) {
  nav {
    background-color: #fff;
    color: #262626;
    position: relative;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  nav p, nav blockquote, nav li {
    color: #262626;
  }
  nav a {
    color: #262626;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__logo {
    float: left;
  }

  .nav-list {
    float: right;
    display: block !important;
  }

  .nav-list__item {
    display: inline-block !important;
  }
  .nav-list__item:first-child {
    border: 0;
  }

  .nav-list__item--a.is-highlighted {
    color: inherit;
    background-color: inherit;
  }
}
header {
  font-size: 1rem;
  text-align: center;
  padding-top: 6.5em;
  padding-bottom: 5em;
}
@media screen and (min-width: 991px) {
  header {
    padding-top: 5em;
  }
}

.header__sub-title {
  font-weight: 300;
  margin-bottom: .8em;
}

.about__headshot {
  border: 5px solid #E6E6E6;
}

.project {
  text-align: center;
}

.project__link {
  position: relative;
  max-width: 358px;
}
.project__link:hover > .project__pic {
  opacity: 0.8;
}
.project__link:hover > .project__button {
  opacity: 1.0;
  transform: translate(-50%, -50%);
}

.project__pic {
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1.0;
}

.project__button {
  font-weight: 700;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #EC412C;
  white-space: nowrap;
  border: 2px solid #EC412C;
  border-radius: 5px;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-shadow: 1px 1px 1px #0b0b0b;
  box-shadow: 1px 1px 3px #0b0b0b;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  padding: .4em;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translate(-50%, -35%);
}

.project__audio-warning {
  color: #0b0b0b;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

#contact {
  font-size: 1rem;
}

input, textarea {
  background-color: #E6E6E6;
  width: 100%;
  padding: 0.6em 0.9em;
  margin-bottom: 0.75em;
  border-radius: 3px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  font-style: italic;
  font-weight: 300;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
}

textarea {
  height: 9em;
}

.input__placeholder {
  font-size: 0.9em;
  position: relative;
  -moz-transition: opacity 500ms, -moz-transform 500ms;
  -o-transition: opacity 500ms, -o-transform 500ms;
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, transform 500ms;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

.input__placeholder.is-displayed {
  visibility: visible;
  opacity: 1.0;
  transform: translateY(0%);
}

.contact-card__container {
  margin-top: 2.5em;
}
@media screen and (min-width: 768px) {
  .contact-card__container {
    margin-top: 4em;
  }
}

.contact-card {
  font-size: .95rem;
  color: #262626;
  width: 16em;
  margin-bottom: 2em;
}
.contact-card a {
  color: #262626;
}

.contact-card__icon {
  vertical-align: middle;
}

.contact-card__text {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
}

footer {
  font-size: 1rem;
  border-top: 6px solid #EBEBEB;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}
footer hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer__copyright {
  font-weight: 400;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
