._404 {
    //base font-size
    font-size: 2rem;

    //design
    background-color: $offwhite;
}

._404__container {
    //text
    font-size: 1em;

    //layout
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .redline {
        //layout
        margin-top: 0;
    }
}