._404 {
    //base font-size
    font-size: 2rem;

    //design
    background-color: $offwhite;
}

._404 nav {
    //design
    @include palette($white, $charcoal, $white);

    //layout
    padding: 0;
}

._404 .nav__logo {
    //design
    pointer-events: all;
    @include hover($red);
}

._404__container {
    //text
    font-size: 1em;
    
    //design
    @extend .text-center;
    @extend .no-spacing;

    //layout
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .redline {
        //layout
        @include margin-top-bottom(0);
    }
}