// ==========================================================================
// FOOTER
// ==========================================================================//

footer {
	//base font-size
	font-size: 1rem;
    
    //design
    border-top: 6px solid $lightergrey;
    
	//layout
	@include padding-top-bottom(3em);
	text-align: center;
	@extend .no-spacing;
	
	hr {
		@include margin-top-bottom(2em);
	}
}

.social__links {
	//text
	@extend .h3;
	@extend .no-spacing;
}

.footer__copyright {
	//text
	@extend .h6;
	font-weight: $font-weight--medium;
	font-family: $font-family--secondary;
	text-transform: uppercase;
}