// ==========================================================================
// PROJECTS
// ==========================================================================//

.project {
    //layout
    text-align: center;
}

.project__link {
    //layout
    position: relative;
    max-width: 358px;
    width: 100%;

    //transitions

    &:hover>.project__pic {
        //design
        opacity: 0.8;
    }
    
    @include media($sm-min) {
        //button hidden on mobile
        &:hover>.project__button {
            //design
            opacity: 1.0;

            //layout
            top: 38%; //raise button up ( translateY() causing text to shift in Firefox )
        }
    }
}

.project__pic {
    //design
    border: 1px solid $mediumgrey;
    border-radius: 8px;

    //transitions
    @include transition(opacity 0.3s ease);
    opacity: 1.0;
}

.project__button {
    //text
    @extend .h6;
    font-weight: 700;
    font-family: $font-family--secondary;
    
    //design
	color: $darkred;
    white-space: nowrap;
    border: 2px solid $darkred;
    border-radius: 5px;
    
    @include backface-visibility(hidden); //smoother text transformation
    text-shadow: 1px 1px 1px $black;
    box-shadow: 1px 1px 3px $black;
    
    //layout
    width: 8.2em;
    @include line-height(2.4em);
    position: absolute;
    top: 41%;
    left: calc(50% - 4.1em); //50% - half button-width ( translateX(-50%) causing text to shift in Firefox )
    z-index: $z-pseudo;
    
    //transitions
    @include transition(all 0.3s ease);
    opacity: 0;
}

.project__audio-warning {
    //text
    @extend .h5;
    
    //design
    color: $black;
    
    //layout
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.project__icon {
    //text
    @extend .h3;
}