// ==========================================================================
// BASE RULES
// ==========================================================================//

body {
    //default font-color
    color: $charcoal;
}

//headers
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: $font-weight--bolder;
    @extend .text-center;
}

//anchor
a {
	@include hover($darkred);
}

p a {
	@include hover() {
		text-decoration: underline;
	}
}