// ==========================================================================
// COLORS
// ==========================================================================//

//Custom colors

$offwhite: #F0F0F0;
$charcoal: #262626;
$grey: #666;
$lightergrey: #EBEBEB;
$lightgrey: #E6E6E6;
$mediumgrey: #D3D3D3;
$red: #EF6250;
$lightred: #F06F5E;
$darkred: #EC412C;

// Color Usage

$color-primary: $red;
$color-secondary: $red;


// Common Colors

$white: #fff;
$black: #0b0b0b;
$trueblack: #000;